<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="../css/adminHospital.css">
    <title>Admin</title>
</head>
<body>
   <div class="form-container">
       <form action="/verifyHospital" method="post" enctype="multipart/form-data">
            <div class="fields-container">
                <h1>Verify/Edit Hospital</h1>
                <div class="input-container">
                    <input type="text" name="name" placeholder="name">
                </div>
                <div class="input-container">
                    <input type="text" name="doctors" placeholder="Doctors">
                </div>
                <div class="input-container">
                    <input type="text" name="location" placeholder="Location">
                </div>
                <div class="input-container">
                    <input type="text" name="noOfBeds" placeholder="Number Of Beds">
                </div>
                <div class="input-container">
                    <input type="text" name="charge" placeholder="Charge">
                </div>
                <div class="input-container display-flex">
                    <ul id="applied-speciality" class="filters-container">
                    </ul>
                    <input type="text" name="speciality" placeholder="Specialization">
                    <ul id="applicable-speciality" class="suggestions"></ul>
                </div>
                <div class="input-container display-flex">
                    <ul id="applied-treatmentList" class="filters-container">
                    </ul>
                    <input type="text" name="treatmentList" placeholder="List of Treatments">
                    <ul id="applicable-treatmentList" class="suggestions">
                    </ul>
                </div>
                <div class="input-container">
                    <input type='file' name="imgFile" enctype="multipart/form-data">
                </div>
                <div class="input-container">
                    <textarea name="infrastructure" cols="30" rows="5" placeholder="Infrastructure"></textarea>
                </div>
                <div class="input-container">
                    <textarea name="package" cols="30" rows="5" placeholder="Package"></textarea>
                </div>
                <div class="input-container">
                    <textarea name="membership" cols="30" rows="5" placeholder="Membership"></textarea>
                </div>
            </div>
            <div class="form-footer">
                <button type="button" class="remover">
                    Cancel
                </button>
                <button type="submit">Submit</button>
            </div>
       </form>
   </div>
    <div class="body-container">
        <!-- <div class="menu-container">
            <div class="icon-and-name-container">
                <div class="icon">
                    <i class="fas fa-capsules"></i>
                </div>
                <h1>Medic<sup style="color:dodgerblue;">app</sup></h1>
            </div>
            <ul class="button-container">
                <li class="menu-button">
                    <a href=""><i class="fas fa-thermometer"></i>Dashboard</a>
                </li>
                <li class="menu-button">
                    <a href=""><i class="fas fa-stethoscope"></i>Appointments</a>
                </li>
                <li class="menu-button">
                    <a href=""><i class="fas fa-user-md"></i>Doctors</a>
                </li>
                <li class="menu-button">
                    <a href=""><i class="fas fa-user-nurse"></i>Departments</a>
                </li>
                <li class="menu-button">
                    <a href=""><i class="fas fa-wheelchair"></i>Patients</a>
                </li>
                <li class="menu-button">
                    <a href=""><i class="fas fa-hand-holding-usd"></i>Payments</a>
                </li>
            </ul>
            <button class="add-patients">
                <i class="fas fa-plus"></i>Add Patients
            </button>
        </div> -->
        <%- include('partials/admin/menu.ejs') %>
        <div class="main-container">
            <%- include('partials/admin/adminNav.ejs') %>

            <div class="doctor-container">
                <h2>Hospitals</h2>
                <div class="doctor-cards">
                    <% for(var i = 0; i < hospitals.length; i++) { %>
                        <div class="card" id="<%= hospitals[i]._id %>">
                            <div class="edit-hospital" >
                                <i class="fas fa-address-card"></i>
                                <div class="hidden-data" style="width:0;height:0;display:none;">
                                    <p class="specialization"><%= hospitals[i].specialization %></p>
                                    <p class="package"><%= hospitals[i].package %></p>
                                    <p class="doctors"><%= hospitals[i].doctors %></p>
                                    <p class="charge"><%= hospitals[i].charge %></p>
                                    <p class="membership"><%= hospitals[i].membership %></p>
                                    <p class="infrastructure"><%= hospitals[i].infrastructure %></p>
                                </div>
                            </div>
                            <div class="img-container">
                                <img src="<%= hospitals[i].imgAddress %>" alt="">
                            </div>
                            <div class="info-container">
                                <div class="line-name-container">
                                    <div class="line"></div>
                                    <div class="name">
                                        <h2><%= hospitals[i].name %></h2>
                                    </div>
                                </div>
                                    <div class="info-container-row" >
                                        <div class="info-container-sub-row">
                                            <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                            <p class="location"> <%= hospitals[i].location %></p>
                                        </div >
                                        <div class="info-container-sub-row">
                                            <div class="icon"><i class="fas fa-bed"></i></div>
                                            <p class="noOfBeds"><%= hospitals[i].noOfBeds %> beds</p>
                                        </div>
                                    </div>
                                    <div class="info-container-row">
                                        <div class="info-container-sub-row">
                                            <div class="icon"><i class="fas fa-stethoscope"></i></div>
                                            <p class="treatments"><%= hospitals[i].treatments.split(',').join(', ') %></p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    <% } %>
                    <!-- <div class="card">
                        <div class="img-container">
                            <img src="../assets/liam.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. Liam</h3>
                            <span>Dentist</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="../assets/noah.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. Noah</h3>
                            <span>Nursing</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="../assets/emma.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. Emma</h3>
                            <span>Gynecologist</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="../assets/james.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. James</h3>
                            <span>Physical Therapy</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="../assets/olivia.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. Olivia</h3>
                            <span>Dentist</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="../assets/logan.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. Logan</h3>
                            <span>Physical Therapy</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="../assets/benjamin.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. Benjamin</h3>
                            <span>Nursing</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-container">
                            <img src="../assets/mason.jpg" alt="">
                        </div>
                        <div class="info-container">
                            <h3>Dr. Mason</h3>
                            <span>Dentist</span>
                            <div class="social-media-links">
                                <i class="fab fa-instagram" style="margin:auto 5px;"></i>
                                <i class="fab fa-facebook-f" style="margin:auto 5px;"></i>
                                <i class="fab fa-twitter" style="margin:auto 5px;"></i>
                            </div>
                            <div class='address'>
                                795 Folsom Ave, Suite 600 San Francisco, CADGE 94107
                            </div>
                            <div class="view-profile-button">
                                <button>View profile</button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <%- include('partials/admin/adminFooter.ejs') %>
        </div>
    </div>
    <script src="../js/adminHospital.js"></script>
</body>
</html>