<!DOCTYPE html>
<html>
    <head>
        <title>Our Doctors</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="../css/theme.css"> -->
        <link rel="stylesheet" href="../css/doctor.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="body"> 
       <!-- <nav class="nav">
            <div class="logo-and-bar-container">
                <div class="logo-container">
                    <a href="/"><img class="logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo"></a>
                </div>
                 <div class="bars">
                    <button class="bars"><i class="fas fa-bars mobile-view mobile-cum-tablet-view"></i></button>
                 </div>  
            </div>    
            <div class="nav-open">
                <div class="nav-expanded">
                    <a href="/doctor">Doctors</a>
                    <hr>
                    <a href="/hospitals">Hospitals</a>
                    <hr>
                    <a href="/treatment">Treatment</a>
                    <hr>
                    <a href="/">Other Services</a>
                    <hr>
                   <a href="/">About</a>
                   <hr>
                </div>
                <div class="nav-btn-container">
                    <button class='nav-button-white' onclick="location.href='/login';">Login / Sign Up</button>
                    <button class='nav-button'>Get a Quote</button>
                </div>
            </div>        
        </nav>
        <script src="../js/navigation.js"></script> -->
        <%- include ('partials/navigation.ejs') %>
        <div class="hero-section">
            <h1>Cardiac Surgeons in <a href="">Delhi</a></h1>
            <div class="color">

            </div>
        </div>
        <div class="body-container">
        <div class="header">
            <p><a href="/">Home</a> / <a href="/doctorDetail">Doctor List</a></p>
            <button>Sort by<i class="fas fa-angle-down"></i></button>
        </div>
        <div class="list-with-filters">
            <div class="filters" style="text-align: left;padding-top:.5rem;">
                <div class="aplied-filters-container">
                    <div class="heading-container" style="background: rgb(230, 228, 228);width: 100%;">
                        <h2>Filter By</h2>
                    </div>
                    <div class="applied-filters">
                        <!-- <div>DLF Cyber City <span style="color:rgba(5, 154, 253,.5);"><i class="fas fa-times"></i></span></div>
                        <div>Multi Organ Transplant <span style="color:rgba(5, 154, 253,.5)";><i class="fas fa-times"></i></span></div>
                        <div>Apollo Hospital <span style="color:rgba(5, 154, 253,.5);"><i class="fas fa-times"></i></span></div>
                        <div>30+ <span style="color:rgba(5, 154, 253,.5);"><i class="fas fa-times"></i></span></div> -->
                    </div>
                </div>
                <div class="filters-container">
                <div style="border-bottom:solid 2px rgb(241, 241, 241);margin-top:1rem;">
                    <div class="filter-title-container">
                        <h3>Location</h3>
                        <div style="display:flex;flex-wrap:wrap;justify-content:space-between;">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-minus" style="margin-top: 5px;color:grey"></i>
                        </div>
                    </div>
                    <div style="text-align:left;">
                        <form action="/" id="location">
                            <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="location" value="DLF Cyber City">
                                </div>
                                <div class="labet-container">
                                    <label for="">DLF Cyber City</label>
                                </div>
                            </div>
                            <div class="filter-form-row">
                                <div class='box'>
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="location" value="Dwaraka">
                                </div>
                                <div class="labet-container">
                                    <label for="">Dwaraka</label>
                                </div>
                            </div>
                            <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="location" value="Lajpat Nagar">
                                </div>
                                <div class="labet-container">
                                    <label for="">Lajpat Nagar</label>
                                </div>
                            </div>
                            <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="location" value="Palam Vihar">
                                </div>
                                <div class="labet-container">
                                    <label for="">Palam Vihar</label>
                                </div>
                            </div>
                            <div class="filter-form-row">
                                <div class="box"> 
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="location" value="Punjabi Baag">
                                </div>
                                <div class="labet-container">
                                    <label for="">Punjabi Baag</label>
                                </div>
                            </div>
                            <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="location" value="Pusa Road">
                                </div>
                                <div class="labet-container">
                                    <label for="">Pusa Road</label>
                                </div>
                            </div>
                            <div style="display:none;">

                            </div>
                        </form>
                    </div>
                    <div >
                        <button class="show-more">+ Show more</button>
                    </div>
                </div>
              
                <div style="border-bottom:solid 2px rgb(241, 241, 241);margin-top:1rem;">
                    <div class="filter-title-container">
                        <h3 style="display:inline-block;margin-right: 10px;min-width:100px;">Treatment</h3>
                        <div style="display:flex;flex-wrap:wrap;justify-content:space-between;">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-minus" style="margin-top: 5px;color:grey"></i>
                        </div>
                    </div>
                    <div style="text-align:left;">
                        <form action="/" id="treatment">
                            <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                  <input type="checkbox" name="treatment" value="Chemotherapy">
                                </div>
                              <div class="labet-container">
                                  <label for="">Chemotherapy</label>
                              </div>
                            </div>
                            <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="treatment" value="Surgery">
                                </div>
                                <div class="labet-container">
                                    <label for="">Surgery</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="treatment" value="Vaccine Therapy">
                                </div>
                                <div class="labet-container">
                                    <label for="">Vaccine Therapy</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="treatment" value="Palliative Care">
                                </div>
                                <div class="labet-container">
                                    <label for="">Palliative Care</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="treatment" value="Blood Transfusion">
                                </div>
                                <div class="labet-container">
                                    <label for="">Blood Transfusion</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="treatment" value="Immunotherapy">
                                </div>
                                <div class="labet-container">
                                    <label for="">Immunotherapy</label>
                                </div>
                            </div>
                           <div style="display:none;">

                            </div>
                        </form>
                    </div>
                    <div >
                        <h3 class="show-more" >+ Show more</h3>
                    </div>
                </div>
                <div style="border-bottom:solid 2px rgb(241, 241, 241);margin-top:1rem;">
                    <div class="filter-title-container">
                        <h3 style="display:inline-block;margin-right: 10px;min-width:100px;">Hospitals</h3>
                        <div style="display:flex;flex-wrap:wrap;justify-content:space-between;">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-minus" style="margin-top: 5px;color:grey"></i>
                        </div>
                    </div>
                    <div style="text-align:left;">
                        <form id="hospital" action="/">
                            <div class="filter-form-row">
                              <div class="box">
                                <i class="fas fa-check unchecked checked"></i>
                                <input type="checkbox" name="hospital" value="Apollo Hospital">
                              </div>
                              <div class="labet-container">
                                  <label for="">Apollo Hospital</label>
                              </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="hospital" value="Manipal Hospital">
                                </div>
                                <div class="labet-container">
                                    <label for="">Manipal Hospital</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="hospital" value="AIIMs">
                                </div>
                                <div class="labet-container">
                                    <label for="">AIIMs</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="hospital" value="Fortis Hospital">
                                </div>
                                <div class="labet-container">
                                    <label for="">Fortis Hospital</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="hospital" value="Elbit Diagnostics">
                                </div>
                                <div class="labet-container">
                                    <label for="">Elbit Diagnostics</label>
                                </div>
                            </div>
                            <div style="display:none;">

                            </div>
                        </form>
                    </div>
                    <div >
                        <h3 class="show-more">+ Show more</h3>
                    </div>
                </div>
                <div style="border-bottom:solid 2px rgb(241, 241, 241);margin-top:1rem;">
                    <div class="filter-title-container">
                        <h3 style="display:inline-block;margin-right: 10px;min-width:100px;">Years of Experience</h3>
                        <div style="display:flex;flex-wrap:wrap;justify-content:space-between;">
                            <i class="fas fa-search" ></i>
                            <i class="fas fa-minus" style="margin-top: 5px;color:grey"></i>
                        </div>
                    </div>
                    <div style="text-align:left;">
                        <form action="/">
                              <div class="filter-form-row">
                              <div class="box">
                                  <i class="fas fa-check unchecked checked"></i>
                                  <input type="checkbox" name="yearsOfExperience" value="30">
                                </div>
                              <div class="labet-container">
                                  <label for="">30+</label>
                              </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="yearsOfExperience" value="25">
                                </div>
                                <div class="labet-container">
                                    <label for="">25+</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="yearsOfExperience" value="20">
                                </div>
                                <div class="labet-container">
                                    <label for="">20+</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="yearsOfExperience" value="15">
                                </div>
                                <div class="labet-container">
                                    <label for="">15+</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="yearsOfExperience" value="10">
                                </div>
                                <div class="labet-container">
                                    <label for="">10+</label>
                                </div>
                            </div>
                              <div class="filter-form-row">
                                <div class="box">
                                    <i class="fas fa-check unchecked checked"></i>
                                    <input type="checkbox" name="yearsOfExperience" value="5">
                                </div>
                                <div class="labet-container">
                                    <label for="">5+</label>
                                </div>
                            </div>
                            <div style="display:none;">

                            </div>
                        </form>
                        
                    </div>
                    <div >
                        <h3 class="show-more">+ Show more</h3>
                    </div>
                  
                </div>
            </div>
            </div>
            <% var noOfItemsPerPage = 3, i = 0,pageNumber = 0 %>
            <% for(; i < doctors.length; i++) {%>
            <div class="parent-container" id="page<%= pageNumber.toString() %>">
                <% for(var count = 0 ; count < noOfItemsPerPage && i < doctors.length; count++) {%>
                   <div class="doctor-and-slot-container">
                       <div class="filtered-with">
                           <p class='filtered-location'></p>
                           <p class="filtered-treatment"></p>
                           <p class="filtered-hospital"></p>
                           <p class="filtered-yearsOfExperience"></p>
                       </div>
                        <div class="doctor-container" id=<%= doctors[i]._id %> >
                            <div class="info-button">
                                <div class="info-container">
                                    <h2><span>___ </span><%= doctors[i].name %></h2>
                                        <div class="info-container-row">
                                            <div class="info-container-sub-row">
                                                <div class="icon-container">
                                                    <i class="fas fa-certificate"></i>
                                                </div>
                                                <p><%= doctors[i].doctor.qualification %></p>
                                            </div>
                                            <div class="info-container-sub-row">
                                                <div class="icon-container">
                                                    <i class="fas fa-award"></i>
                                                </div>
                                                <p><%= doctors[i].doctor.awards %></p>
                                            </div>
                                        </div>
                                        <div class="info-container-row" >
                                            <div class="info-container-sub-row">
                                                <div class="icon-container">
                                                    <i class="far fa-clock"></i>
                                                </div>
                                                <p class="yearsOfExperience"><%= doctors[i].doctor.yearsOfExperience %> years of Experience</p>
                                            </div >
                                            <div class="info-container-sub-row">
                                                <div class="icon-container">
                                                    <i class="fas fa-notes-medical"></i>
                                                </div>
                                                <p class="hospital"><%= doctors[i].doctor.hospitalList %></p>
                                            </div>
                                        </div>
                                        <div class="info-container-row">
                                            <div class="info-container-sub-row">
                                                <div class="icon-container">
                                                    <i class="fas fa-map-marker-alt fa-map-marker-alt-doctor"></i>
                                                </div>
                                                <p class="location"><%= doctors[i].doctor.location %></p>
                                            </div>
                                        </div>
                                        <div class="info-container-row" style="display:none;">
                                            <div class="info-container-sub-row">
                                                <div class="icon-container">
                                                    <i class="fas fa-map-marker-alt fa-map-marker-alt-doctor"></i>
                                                </div>
                                                <p class="treatment"><%= doctors[i].doctor.treatmentList %></p>
                                            </div>
                                        </div>
                                </div>
                                <button class='appointment-btn'>Book an appointment</button>    
                            </div>
                            <div class='img-container'>
                                <img class='doctor-img  img1' alt="img-duke-samson" src=<%= doctors[i].imgAddress %> >
                            </div>      
                        </div>
                        <div class="slots-container slide-in-right">
                            <div class="<%= doctors[i]._id %> cards-container">
                                <div class="prev-button">
                                        <i class="fas fa-angle-left"></i>
                                </div>
                                <% for(var k = 0; k < doctors[i].dateWiseSlots.length; k++) {%>
                                    <div class="<%= k+1 %> card slide-in-right">
                                        <div class="date">
                                            <%= doctors[i].dateWiseSlots[k].date %>
                                        </div>
                                        <div class="no-of-slots">
                                            <%= doctors[i].dateWiseSlots[k].noOfSlots %>
                                        </div>
                                    </div>
                                <% } %>
                                <!-- <div class="2 card slide-in-right">
                                           Tomorrow
                                           <div class="no-of-slots">
                                               34 Slots Available
                                           </div>
                                </div>
                                <div class="3 card slide-in-right">
                                            30 May, 2020
                                            <div class="no-of-slots">
                                                4 Slots Available
                                            </div>
                                </div>
                                <div class="4 card slide-in-right">
                                    31 May, 2020
                                    <div class="no-of-slots">
                                        4 Slots Available
                                    </div>
                                </div>
                                <div class="5 card slide-in-right">
                                    01 June, 2020
                                    <div class="no-of-slots">
                                        4 Slots Available
                                    </div>
                                 </div>
                                 <div class="6 card slide-in-right">
                                    02 June, 2020
                                    <div class="no-of-slots">
                                        4 Slots Available
                                    </div>
                                </div>
                                <div class="7 card slide-in-right">
                                    03 June, 2020
                                    <div class="no-of-slots">
                                        4 Slots Available
                                    </div>
                                </div> -->
                                <div class="next-button">
                                        <i class="fas fa-angle-right"></i>
                                </div>
                            </div>
                            <% for(var k = 0; k < doctors[i].dateWiseSlots.length; k++) {%>                            
                                <div class="slot-main-hospital-container <%= doctors[i].dateWiseSlots[k].date.split(' ').join('-') %>">
                                    <% var hospitalAndSlots = doctors[i].dateWiseSlots[k].hospitalAndSlots %>
                                    <% for(var l = 0; l < hospitalAndSlots.length; l++) {%>
                                    <% var hospitalAndSlot = hospitalAndSlots[l] %>
                                        <div class="slot-main-container <%= hospitalAndSlot.hospital.split(' ').join('-') %>">
                                            <div class="slots-sub-container">
                                                <div class="time">
                                                    <i class="fas fa-sun"></i>Morning
                                                </div>
                                                <div class="slots">
                                                    <% for(var m = 0; m < hospitalAndSlot.slots.Morning.length; m++) {%>
                                                        <form action="/bookSlot" method="post" >
                                                            <input type="text" name="date" value="<%= doctors[i].dateWiseSlots[k].date %>" style="display:none;">
                                                            <input type="text" name="time" value="<%= hospitalAndSlot.slots.Morning[m] %>" style="display:none;">
                                                            <input type="email" name="email" value="<%= doctors[i].email %>" style="display:none;">
                                                            <input type="text" name="hospital" value="<%= hospitalAndSlot.hospital %>" style="display:none;">
                                                            <div class="slot"><%= hospitalAndSlot.slots.Morning[m] %></div>
                                                        </form>
                                                    <% } %>
                                                    <!-- <div class="slot">01:00AM</div>
                                                    <div class="slot">01:30AM</div>
                                                    <div class="slot">02:00AM</div>
                                                    <div class="slot">06:00AM</div>
                                                    <div class="slot">06:30AM</div>
                                                    <div class="slot">07:00AM</div>
                                                    <div class="slot">07:30AM</div>
                                                    <div class="slot">08:00AM</div>
                                                    <div class="slot">08:30AM</div>
                                                    <div class="slot">09:00AM</div>
                                                    <div class="slot">09:30AM</div>
                                                    <div class="slot">10:00AM</div>
                                                    <div class="slot">10:30AM</div>
                                                    <div class="slot">11:00AM</div>
                                                    <div class="slot">11:30AM</div> -->
                                                </div>
                                            </div>
                                            <div class="slots-sub-container">
                                                <div class="time">
                                                    <i class="fas fa-sun"></i>Afternoon
                                                </div>
                                                <div class="slots">
                                                    <% for(var m = 0; m < hospitalAndSlot.slots.Afternoon.length; m++) {%>
                                                        <form action="/bookSlot" method="post">
                                                            <input type="text" name="date" value="<%= doctors[i].dateWiseSlots[k].date %>" style="display:none;">
                                                            <input type="text" name="time" value="<%= hospitalAndSlot.slots.Afternoon[m] %>" style="display:none;">
                                                            <input type="email" name="email" value="<%= doctors[i].email %>" style="display:none;">
                                                            <input type="text" name="hospital" value="<%= hospitalAndSlot.hospital %>" style="display:none;">
                                                            <div class="slot"><%= hospitalAndSlot.slots.Afternoon[m] %></div>
                                                        </form>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="slots-sub-container last-slot-sub-container">
                                                <div class="time">
                                                    <i class="fas fa-moon"></i>Evening
                                                </div>
                                                <div class="slots">
                                                    <% for(var m = 0; m < hospitalAndSlot.slots.Evening.length; m++) {%>
                                                        <form action="/bookSlot" method="post">
                                                            <input type="text" name="date" value="<%= doctors[i].dateWiseSlots[k].date %>" style="display:none;">
                                                            <input type="text" name="time" value="<%= hospitalAndSlot.slots.Evening[m] %>" style="display:none;">
                                                            <input type="email" name="email" value="<%= doctors[i].email %>" style="display:none;">
                                                            <input type="text" name="hospital" value="<%= hospitalAndSlot.hospital %>" style="display:none;">
                                                            <div class="slot"><%= hospitalAndSlot.slots.Evening[m] %></div>
                                                        </form>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if(hospitalAndSlots.length == 0) {%>
                                        <div class="slot-main-container">
                                            <div class="slots-sub-container">
                                                <div class="time">
                                                    <i class="fas fa-sun"></i>Morning
                                                </div>
                                                <div class="slots">
                                                    <!-- <div class="slot">01:00AM</div>
                                                    <div class="slot">01:30AM</div>
                                                    <div class="slot">02:00AM</div>
                                                    <div class="slot">06:00AM</div>
                                                    <div class="slot">06:30AM</div>
                                                    <div class="slot">07:00AM</div>
                                                    <div class="slot">07:30AM</div>
                                                    <div class="slot">08:00AM</div>
                                                    <div class="slot">08:30AM</div>
                                                    <div class="slot">09:00AM</div>
                                                    <div class="slot">09:30AM</div>
                                                    <div class="slot">10:00AM</div>
                                                    <div class="slot">10:30AM</div>
                                                    <div class="slot">11:00AM</div>
                                                    <div class="slot">11:30AM</div> -->
                                                </div>
                                            </div>
                                            <div class="slots-sub-container">
                                                <div class="time">
                                                    <i class="fas fa-sun"></i>Afternoon
                                                </div>
                                                <div class="slots">
                                                    <button class='next-available'>Go To Next Available Slot</button>
                                                </div>
                                            </div>
                                            <div class="slots-sub-container last-slot-sub-container">
                                                <div class="time">
                                                    <i class="fas fa-moon"></i>Evening
                                                </div>
                                                <div class="slots">
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <div class="hospitals">
                                        <% for(var l = 0; l < hospitalAndSlots.length; l++) {%>
                                            <div class="hospital <%= hospitalAndSlots[l].hospital.split(' ').join('-') %>">
                                                <div class="block"></div><%=  hospitalAndSlots[l].hospital %>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                           <% } %>
                            <div class='img-container'>
                                <img class='doctor-img  img1' alt="img-duke-samson" src=<%= doctors[i].imgAddress %> >
                            </div>  
                        </div>
                   </div>
                    <% i++ %>        
                <% } %>  
                <% pageNumber++ %>
                <% i-- %>
                <!-- <div class="doctor-container">
                    <div class="info-button">
                        <div class="info-container">
                            <h2><span>___ </span>Shubham Shinde</h2>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-certificate"></i>
                                        </div>
                                        <p>k</p>
                                    </div>
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-award"></i>
                                        </div>
                                        <p >k</p>
                                    </div>
                                </div>
                                <div class="info-container-row" >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="far fa-clock"></i>
                                        </div>
                                        <p >1 Years of Experience</p>
                                    </div >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-notes-medical"></i>
                                        </div>
                                        <p ></p>
                                    </div>
                                </div>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-map-marker-alt fa-map-marker-alt-doctor"></i>
                                        </div>
                                        <p>k</p>
                                    </div>
                                </div>
                        </div>
                        <button class='appointment-btn'>Book an appointment</button>    
                    </div>
                    <div class='img-container'>
                        <img class='doctor-img  img1' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="img-duke-samson" >
                    </div>
                </div>
                <div class="doctor-container">
                    <div class="info-button">
                        <div class="info-container">
                            <h2><span>___ </span>Shubham Shinde</h3>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-certificate"></i>
                                        </div>
                                        <p>code</p>
                                    </div>
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-award"></i>
                                        </div>
                                        <p >b.tech</p>
                                    </div>
                                </div>
                                <div class="info-container-row" >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="far fa-clock"></i>
                                        </div>
                                        <p >3 Years of Experience</p>
                                    </div >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-notes-medical"></i>
                                        </div>
                                        <p ></p>
                                    </div>
                                </div>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <p>Varanasi</p>
                                    </div>
                                </div>
                        </div>
                        <button class='appointment-btn'>Book an appointment</button>    
                    </div>
                    <div class='img-container'>
                        <img class='doctor-img  img1' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg" alt="img-duke-samson">
                    </div>
                </div>
                <div class="doctor-container">
                    <div class="info-button">
                        <div class="info-container">
                            <h2><span>___ </span>Duke Samsan</h2>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-certificate"></i>
                                        </div>
                                        <p>MBA, MBBS</p>
                                    </div>
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-award"></i>
                                        </div>
                                        <p >MBA, MBBS</p>
                                    </div>
                                </div>
                                <div class="info-container-row" >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="far fa-clock"></i>
                                        </div>
                                        <p >8 Years of Experience</p>
                                    </div >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-notes-medical"></i>
                                        </div>
                                        <p ></p>
                                    </div>
                                </div>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <p>Greater noida</p>
                                    </div>
                                </div>
                        </div>
                        <button class='appointment-btn' >Book an appointment</button>    
                    </div>
                    <div class='img-container'>
                        <img class='doctor-img  img1' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg" alt="img-duke-samson" >
                    </div>
                </div>
                <div class="doctor-container">
                    <div class="info-button">
                        <div class="info-container">
                            <h2><span>___ </span>Prakhar</h2>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-certificate"></i>
                                        </div>
                                        <p>Nothing</p>
                                    </div>
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-award"></i>
                                        </div>
                                        <p >No degree</p>
                                    </div>
                                </div>
                                <div class="info-container-row" >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="far fa-clock"></i> 
                                        </div>
                                        <p >0 Years of Experience</p>
                                    </div >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-notes-medical"></i>
                                        </div>
                                        <p ></p>
                                    </div>
                                </div>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <p>Vasant Vihar</p>
                                    </div>
                                </div>
                        </div>
                        <button class='appointment-btn'>Book an appointment</button>    
                    </div>
                    <div class='img-container'>
                        <img class='doctor-img  img1' src='https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg' alt="img-duke-samson">
                    </div>
                </div>
                <div class="doctor-container">
                    <div class="info-button">
                        <div class="info-container">
                            <h2><span>___ </span>Duke Samsan</h2>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-certificate"></i>
                                        </div>
                                        <p>dentist</p>
                                    </div>
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-award"></i>
                                        </div>
                                        <p >not yet</p>
                                    </div>
                                </div>
                                <div class="info-container-row" >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="far fa-clock"></i>
                                        </div>
                                        <p >1 Years of Experience</p>
                                    </div >
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-notes-medical"></i>
                                        </div>
                                       <p>Nothing</p>
                                    </div>
                                </div>
                                <div class="info-container-row">
                                    <div class="info-container-sub-row">
                                        <div class="icon-container">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <p>Mathura</p>
                                    </div>
                                </div>
                        </div>
                        <button class='appointment-btn'>Book an appointment</button>    
                    </div>
                    <div class='img-container'>
                        <img class='doctor-img  img1' src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg" alt="img-duke-samson" >
                    </div>
                </div> -->
                
            </div>
            <% } %>       
        </div>
        <div class="pages">
            <% for(var i = 0,count = 1; i < doctors.length; count++,i = i+noOfItemsPerPage) {%>
                <div id="pageNumber<%= count %>"><%= count %></div>
            <% } %>
        </div>
        <script>
            document.getElementsByClassName('pages')[0].firstElementChild.classList.add('active');
            console.log("<%= search %>");
            console.log("<%= searchFor %>");
            console.log("<%= location %>");
            var location = "<%= location %>";
            var searchFor = "<%= searchFor %>";
            var search = "<%= search %>";
            // document.querySelector('')
        </script>
    </div>
        <div class="help">
            <div>
                <h1>Need Help?</h1>
                <p>Just let us know. We will be happy to assist you</p>
            </div>
            <button onclick="location.href='/contactUs';">Submit your query</button>
        </div>
        <%- include ('partials/footer.ejs') %>
        <script src = "../js/filter.js"></script>
        <script src="../js/doctor.js"></script>
        <% if(appointmentCancelled) {%>
            <script>
                var div = document.createElement('div');
                var cls = document.createAttribute('class');
                cls.value = 'submit-error submit-success';
                div.setAttributeNode(cls);
                div.innerHTML = `<div>
                                    <i class='far fa-times-circle' style='margin-right:1rem;'></i>
                                </div>
                                <div>
                                    <h4>Success:</h4>
                                    <p>Your Appointment has been Cancelled!</p>
                                </div>`;
                document.querySelector('body').appendChild(div);
                setTimeout(() => {
                    document.querySelector('body').removeChild(div);
                }, 5000);
            </script>
        <% } %>
    </body>
</html>