<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/doctorDetails.css">
    <title>Document</title>
</head>
<body>
    <!-- <nav class="nav" style="box-shadow: 0px 1px 4px 0px rgba(173,170,173,0.58);">
        <div class="logo-and-bar-container">
            <div class="logo-container">
                <a href="/"><img class="logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo"></a>
            </div>
            <button class="bars"><i class="fas fa-bars mobile-view mobile-cum-tablet-view"></i></button>
        </div>    
        <div class="nav-open">
            <div class="nav-expanded">
                <a href="/doctor">Doctors</a>
                <hr>
                <a href="/hospitals">Hospitals</a>
                <hr>
                <a href="/treatment">Treatment</a>
                <hr>
                <a href="/">Other Services</a>
                <hr>
               <a href="/">About</a>
               <hr>
            </div>
            <div class="nav-btn-container">
                <button class='nav-button-white' onclick="location.href='/login';">Login / Sign Up</button>
                <button class='nav-button'>Get a Quote</button>
            </div>
        </div>        
    </nav>
    <script src="../js/navigation.js"></script> -->
    <%- include('partials/navigation.ejs') %>
    <!-- <div class="header">
        <p>
            <a href="/">Home</a>
            /
            <a href="/doctor">Doctor List</a>
        </p>
   </div> -->
   <div class="hero-section">
       <h1>About <%= doctor.name %></h1>
       <span><a href="/">Home</a> / Doctor Profile</span>
   </div>
   <div class="main-container">
    <div class="info-accordian">
        <div class="img-button mobile-view">
             <div class="img-container">
                 <img src="<%= doctor.imgAddress %>" alt = <%= `${doctor.name} img` %>>
             </div>
             <button class='appointment-btn'>Book an appointment</button>
         </div>
        <div class="info-container">
            <h2><%= doctor.name %></h2>
            <p><%= doctor.about %>
            </p>
        </div>
        <div class="accordian-container">
            <button class="accordian">
                <div class="btn-content">
                    <div class="icon-and-content">
                        <div class="icon-container">
                            <i class="fas fa-award"></i>
                        </div>
                        Specialization
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </button>
            <div class="panel">
                <p>
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat -->
                    <%= doctor.speciality %>
                </p>
            </div>
            <button class="accordian">
                <div class="btn-content">
                    <div class="icon-and-content">
                        <div class="icon-container">
                            <i class="fas fa-stethoscope"></i>
                        </div>
                        List of Treatments
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </button>
            <div class="panel">
                <p>
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat -->
                    <%= doctor.treatmentList %>
                </p>
            </div>
            <button class="accordian">
               <div class="btn-content">
                    <div class="icon-and-content">
                        <div class="icon-container">
                            <i class="fas fa-notes-medical"></i>
                        </div>
                        Work Experience
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
               </div>
               
            </button>
            <div class="panel">
                <p>
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat -->
                    <%= doctor.yearsOfExperience %> years of Experience
                </p>
            </div>
            <button class="accordian">
                <div class="btn-content">
                    <div class="icon-and-content">
                        <div class="icon-container">
                            <i class="fas fa-certificate"></i>
                        </div>
                        Qualification
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </button>   
            <div class="panel">
                <p>
                    <%= doctor.qualification %>
                </p>
            </div>
            <button class="accordian">
                <div class="btn-content">
                    <div class="icon-and-content">
                        <div class="icon-container">
                            <i class="fas fa-trophy"></i>
                        </div>
                        Awards
                    </div>
                    <div class="drop-down">                    
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                
            </button>
            <div class="panel">
                <p>
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat -->
                    <%= doctor.awards %>
                </p>
            </div>
            <button class="accordian">
                <div class="btn-content">
                    <div class="icon-and-content">
                        <div class="icon-container">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        Location
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </button>
            <div class="panel">
                <p>
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat -->
                    <%= doctor.location %>
                </p>
            </div>
            <button class="accordian" style="border-bottom:solid 2px rgb(235, 235, 235);">
                <div class="btn-content">
                    <div class="icon-and-content">
                        <div class="icon-container">
                            <i class="fas fa-search-dollar"></i>
                        </div>
                        Avg Fees
                    </div>
                    <div class="drop-down">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </button>
            <div class="panel">
                <p>
                    <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat -->
                    <%= doctor.avgFees %>
                </p>
            </div>
        </div>
    </div>
        <div class="img-button tablet-view">
            <button class='appointment-btn'>Book an appointment</button>
             <div class="img-container">
                <img src="<%= doctor.imgAddress %>" alt = <%= `${doctor.name} img` %>>
             </div>
         </div>
   </div>
   <div class="help">
        <div>
            <h1>Need Help?</h1>
            <p>Just let us know. We will be happy to assist you</p>
        </div>
        <button onclick="location.href='/contactUs';">Submit your query</button>
    </div>
    <%- include ('partials/footer.ejs') %>
   <script src="../js/navigation.js"></script>
   <script src="../js/doctorDetails.js"></script>
</body>
</html>